* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  gap: 544px;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.meinLink {
  text-decoration: none;
  color: rgb(238, 233, 206);
  font-size: 1.07em;
}

.meinLink:hover {
  color: chocolate;
}

h2 {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 1.8em;
  color: darkgrey;
}

.home-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.home-description {
  font-size: 1.05em;
  margin: 10px 30px 0 30px;
}

h3 {
  font-size: 2em;
  padding: 2rem 2rem 1rem 2rem;
  color: darkgrey;
}

.quote {
  font-size: 1.6em;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
}

.descr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem 0 10rem;
  width: 100%;
}

.quspan {
  color: chocolate;
}
